:root {
  --black: #121212;
  --dark: #252424;
  --secondary-text: #989898;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, helvetica, arial, sans-serif;
  color: white;
  font-size: 62.5%;
}

body {
  background: var(--dark);
}
