@use "../../styles/partials//responsive" as *;

.characters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: var(--black);

  @include media-tablet {
    padding: 5rem 3rem;
  }

  @include media-desktop {
    padding: 10rem 9rem;
  }
}
