@use "../../styles/partials//responsive" as *;

.characters {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--black);

  @include media-tablet {
    padding: 5rem 3rem;
  }

  @include media-desktop {
    padding: 7rem 9rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
